*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

h2, span{
    color:white;
}

.filmes{
    display: grid;
    margin: 3%;
    grid-template-columns: repeat(3, 1fr)
}

.lista {
    width: 70%
    
}

.lista img {
    width: 70%;
}
